In [2]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

### Fetching the listings data

The dataset will be loaded in Pandas DataFrame(df), I used read_csv function to load the csv file into DataFrame.
Also, we can take a look at the shape of the dataset by df.shape function, and look at the how the rows in the dataset looks like with df.head().

In [3]:
df = pd.read_csv("listings.csv")

/Users/jeffreywu/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3057: DtypeWarning: Columns (61,62) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.shape

(8852, 106)

In [5]:
df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,2384,https://www.airbnb.com/rooms/2384,20190922191701,2019-09-22,Hyde Park Private Room - Pleasant Walk to UChi...,You are invited to be the sole Airbnb guest in...,"The private bedroom has a queen size bed, beds...",You are invited to be the sole Airbnb guest in...,none,My apartment is one block from beautiful Jacks...,...,t,f,strict_14_with_grace_period,f,f,1,0,1,0,2.97
1,4505,https://www.airbnb.com/rooms/4505,20190922191701,2019-09-22,One Great Apartment. 377 Great Reviews. 1 Bad ...,"We took the winter off, made things nicer arou...","We travel a lot, we know what people need. We...","We took the winter off, made things nicer arou...",none,NaN,...,t,f,moderate,f,f,1,1,0,0,2.98
2,7126,https://www.airbnb.com/rooms/7126,20190922191701,2019-09-22,Tiny Studio Apartment 94 Walk Score,A very small studio in a wonderful neighborhood.,This is a very small studio apartment with a ...,A very small studio in a wonderful neighborhoo...,none,"Ukrainian Village was just named ""Hottest Neig...",...,f,f,moderate,f,f,1,1,0,0,2.89
3,9811,https://www.airbnb.com/rooms/9811,20190922191701,2019-09-22,Barbara's Hideaway - Old Town,One-bedroom hideaway tucked into Old Town step...,"This lovely one bedroom ""hideaway"" is located ...",One-bedroom hideaway tucked into Old Town step...,none,Chicago’s Old Town neighborhood is squeezed be...,...,t,f,strict_14_with_grace_period,f,f,10,10,0,0,0.65
4,10945,https://www.airbnb.com/rooms/10945,20190922191701,2019-09-22,The Biddle House (#1),Beautiful first floor apartment in Historic Ol...,This 1st floor apartment has a queen size bed ...,Beautiful first floor apartment in Historic Ol...,none,NaN,...,t,f,strict_14_with_grace_period,f,f,10,10,0,0,0.21

### Select specfic columns in the original listing dataframe

* I selected specific columns in the original dataframe and assign them to a new dataframe - listing_df.
* Columns I selected from the original dataframe: 'id', 'name', 'neighborhood_overview', 'transit', 'zipcode', 'latitude', 'longitude', 'property_type', 'accommodates', 'price', 'cleaning_fee', 'minimum_nights', 'number_of_reviews'.

In [6]:
listing_df = df[['id', 'name', 'neighborhood_overview', 'transit', 'zipcode', 'latitude', 'longitude', 'property_type',
                 'accommodates', 'price', 'cleaning_fee', 'minimum_nights', 'number_of_reviews']]

In [7]:
listing_df.head()

,id,name,neighborhood_overview,transit,zipcode,latitude,longitude,property_type,accommodates,price,cleaning_fee,minimum_nights,number_of_reviews
0,2384,Hyde Park Private Room - Pleasant Walk to UChi...,My apartment is one block from beautiful Jacks...,UNIVERSITY OF CHICAGO: Visiting academics and ...,60637,41.78886,-87.58671,Condominium,1,$50.00,$20.00,2,170
1,4505,One Great Apartment. 377 Great Reviews. 1 Bad ...,NaN,The CTA train station is 30 yards (27 meters) ...,60608,41.85495,-87.69696,Apartment,7,$117.00,$35.00,2,383
2,7126,Tiny Studio Apartment 94 Walk Score,"Ukrainian Village was just named ""Hottest Neig...",We are 1/2 mile away from the el train stop (b...,60622,41.90289,-87.68182,Apartment,2,$80.00,$0.00,2,360
3,9811,Barbara's Hideaway - Old Town,Chicago’s Old Town neighborhood is squeezed be...,"Public transit in Chicago is excellent, and al...",60614,41.91769,-87.63788,Apartment,4,$150.00,$95.00,4,43
4,10945,The Biddle House (#1),NaN,NaN,60614,41.91183,-87.64000,Apartment,4,$215.00,$100.00,4,14

### Data processing and data cleaning
The column 'price' and 'cleaning_fee', which are the price and the cleaning fee of the listing, both of them contain the dollar sign ($), so they can not be used for analysis as they are not a numerical value. I removed the dollar symbol and convert the values as numerical values by the following code.

Also, I renamed the column id to listing_id, the purpose of doing this is for creating the same column as the other datasets, and it's more convenient when merging different datasets.

Last but not least, I created a new column 'total_price' by adding the column 'price' and the column 'cleaning_fee' together.

In [8]:
# Data Cleaning
listing_df['price'] = listing_df['price'].str.replace("[$, ]", "").astype("float")
listing_df['cleaning_fee'] = listing_df['cleaning_fee'].str.replace("[$, ]", "").astype("float")
listing_df.rename(columns={'id':'listing_id'}, inplace=True)
listing_df['total_price'] = listing_df['price'] + listing_df['cleaning_fee']

/Users/jeffreywu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/jeffreywu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/jeffreywu/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)
/Users/jeffreywu/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [9]:
listing_df.head()

,listing_id,name,neighborhood_overview,transit,zipcode,latitude,longitude,property_type,accommodates,price,cleaning_fee,minimum_nights,number_of_reviews,total_price
0,2384,Hyde Park Private Room - Pleasant Walk to UChi...,My apartment is one block from beautiful Jacks...,UNIVERSITY OF CHICAGO: Visiting academics and ...,60637,41.78886,-87.58671,Condominium,1,50.0,20.0,2,170,70.0
1,4505,One Great Apartment. 377 Great Reviews. 1 Bad ...,NaN,The CTA train station is 30 yards (27 meters) ...,60608,41.85495,-87.69696,Apartment,7,117.0,35.0,2,383,152.0
2,7126,Tiny Studio Apartment 94 Walk Score,"Ukrainian Village was just named ""Hottest Neig...",We are 1/2 mile away from the el train stop (b...,60622,41.90289,-87.68182,Apartment,2,80.0,0.0,2,360,80.0
3,9811,Barbara's Hideaway - Old Town,Chicago’s Old Town neighborhood is squeezed be...,"Public transit in Chicago is excellent, and al...",60614,41.91769,-87.63788,Apartment,4,150.0,95.0,4,43,245.0
4,10945,The Biddle House (#1),NaN,NaN,60614,41.91183,-87.64000,Apartment,4,215.0,100.0,4,14,315.0

I excluded some columns here, I selected 'listing_id', 'name', 'zipcode', 'latitude', 'longitude', 'property_type', 'accommodates', 'minimum_nights', 'number_of_reviews', and 'total_price'. The purpose is for mergeing with another dataframe.

In [10]:
listing_output = listing_df[['listing_id', 'name', 'zipcode', 'latitude', 'longitude', 'property_type', 'accommodates', 'minimum_nights', 'number_of_reviews', 'total_price']]

### Fetching reviews data

I loaded another csv file which contains the reviews for each listing, and this dataframe contains the following columns:
* id - identification number for review
* listing_id - identification number for listing which I can join with the listing dataframe
* date - date of the review

In [11]:
review_df = pd.read_csv("reviews.csv")

In [12]:
review_df = review_df[['id','listing_id','date']]

In [13]:
review_df.head()

         id  listing_id        date
0  25218143        2384  2015-01-09
1  28475392        2384  2015-03-24
2  30273263        2384  2015-04-19
3  30974202        2384  2015-04-30
4  31363208        2384  2015-05-04

In [14]:
review_df['date'] = pd.to_datetime(review_df['date'])

### Fetching calendar data
The calendar.csv file contains the Airbnb calendar for each lisring. I selected 'listing_id', 'date', and 'price' columns from the dataframe.

In [15]:
calendar_df = pd.read_csv("calendar.csv")

In [16]:
calendar_df = calendar_df[['listing_id', 'date', 'price']]

In [17]:
listing_count_reviws_df = review_df[['listing_id','id']].groupby(['listing_id']).count()
listing_count_reviws_df.columns = ['# of reviews']

In [18]:
listings_plus_reviews_df = pd.merge(listing_output, listing_count_reviws_df, on='listing_id')

In [19]:
listings_plus_reviews_df.head()

,listing_id,name,zipcode,latitude,longitude,property_type,accommodates,minimum_nights,number_of_reviews,total_price,# of reviews
0,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,70.0,170
1,4505,One Great Apartment. 377 Great Reviews. 1 Bad ...,60608,41.85495,-87.69696,Apartment,7,2,383,152.0,383
2,7126,Tiny Studio Apartment 94 Walk Score,60622,41.90289,-87.68182,Apartment,2,2,360,80.0,360
3,9811,Barbara's Hideaway - Old Town,60614,41.91769,-87.63788,Apartment,4,4,43,245.0,43
4,10945,The Biddle House (#1),60614,41.91183,-87.64000,Apartment,4,4,14,315.0,14

In [20]:
listings_plus_reviews_df.at[listings_plus_reviews_df['# of reviews'].isnull(), '# of reviews'] = 0

listings_plus_reviews_df[listings_plus_reviews_df['# of reviews'] != listings_plus_reviews_df['number_of_reviews']]

Empty DataFrame
Columns: [listing_id, name, zipcode, latitude, longitude, property_type, accommodates, minimum_nights, number_of_reviews, total_price, # of reviews]
Index: []

### Calculate estimated revenue for each listing
If I want to calculate the estimated revenue for each listing, I should use the exact number of nights each guest stayed, but I can not get that information, so I used the listing's minimum_nights to calculate the estimated revenue. I assumed that each guest stayed at least that minimum number of nights, and for each review, I multiplied price with minimum_nights to generate the estimated revenue and each booking's revenue.

In [21]:
pd_bookings = pd.merge(review_df, listing_output, on='listing_id')

Also, I summed up the revenue of every booking for each listing as estimated revenue per listing by 

"pd_listings_revenue = pd_bookings[['listing_id','estimated_revenue']].groupby(['listing_id']).sum()"

Furthermore, I merged the dataframe "listing_out" and the dataframe "pd_listing_revenue" to generate a new dataframe "pd_listings".

In [22]:
pd_bookings['estimated_revenue'] = pd_bookings['total_price'] * pd_bookings['minimum_nights']

# get revenue by listings
pd_listings_revenue = pd_bookings[['listing_id','estimated_revenue']].groupby(['listing_id']).sum()
# pd_listings_revenue['listing_id'] = pd_listings_revenue.index

pd_listings = pd.merge(listing_output, pd_listings_revenue, on='listing_id', how='left')
pd_listings.at[pd_listings['estimated_revenue'].isnull(), 'estimated_revenue'] = 0

In [23]:
pd_listings.head()

,listing_id,name,zipcode,latitude,longitude,property_type,accommodates,minimum_nights,number_of_reviews,total_price,estimated_revenue
0,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,70.0,23800.0
1,4505,One Great Apartment. 377 Great Reviews. 1 Bad ...,60608,41.85495,-87.69696,Apartment,7,2,383,152.0,116432.0
2,7126,Tiny Studio Apartment 94 Walk Score,60622,41.90289,-87.68182,Apartment,2,2,360,80.0,57600.0
3,9811,Barbara's Hideaway - Old Town,60614,41.91769,-87.63788,Apartment,4,4,43,245.0,42140.0
4,10945,The Biddle House (#1),60614,41.91183,-87.64000,Apartment,4,4,14,315.0,17640.0

Just want to take a look at the top 5 listing s with the highest estimated revenue, and I found that the top earners are host have minimum nights of 365 (1 year).

In [24]:
pd_listings[['listing_id','number_of_reviews','minimum_nights','accommodates','estimated_revenue']].sort_values('estimated_revenue', ascending=False).head()

,listing_id,number_of_reviews,minimum_nights,accommodates,estimated_revenue
1211,10879699,99,365,4,5745465.0
2598,18836903,59,168,6,3221400.0
1161,10280979,27,365,5,2207520.0
119,790016,16,365,5,2096560.0
2770,19643452,2,80,1,1604640.0

Take a look at the proportion of listings with different minimum_nights.

In [25]:
pd_listings[['listing_id','minimum_nights']].groupby(['minimum_nights']).count().sort_values('minimum_nights')

                listing_id
minimum_nights
1                     3452
2                     3409
3                      874
4                      142
5                       98
6                       37
7                       74
8                        5
9                        1
10                      20
11                       2
12                       4
13                       6
14                      40
15                      16
16                       1
17                       2
18                       3
20                      11
21                      18
25                       8
26                       1
27                       3
28                      36
29                       8
30                     250
31                     124
32                     108
35                       3
39                       2
40                       3
45                       2
50                       1
60                      37
63                       1
70                       1
80                       1
89                       1
90                      14
91                       1
95                       1
100                      1
120                      4
135                      2
140                      1
145                      1
150                      1
168                      2
179                      1
180                      5
182                      1
185                      1
210                      1
240                      1
360                      1
365                      8

I merged the dataframe "pd_listings" and the dataframe "calendar_df", so that I can get a new dataframe that contains the price information in different dates for all the Airbnb in great Chicago area.

In [26]:
pd_date_price = pd.merge(pd_listings, calendar_df, on='listing_id', how='left')

In [27]:
pd_date_price.head()

,listing_id,name,zipcode,latitude,longitude,property_type,accommodates,minimum_nights,number_of_reviews,total_price,estimated_revenue,date,price
0,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,70.0,23800.0,2019-07-27,NaN
1,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,70.0,23800.0,2019-07-26,NaN
2,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,70.0,23800.0,2019-07-25,NaN
3,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,70.0,23800.0,2019-07-24,NaN
4,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,70.0,23800.0,2019-07-23,NaN

I changed the column "total_price" to "Expected_price", so that we can take a look at the difference between expected price and the actual price.

In [28]:
pd_date_price['Expected_price'] = pd_date_price['total_price']

In [29]:
Date_price = pd_date_price.drop(columns='total_price')

In [30]:
Date_price.shape

(1793544, 13)

### Fetching the Chicago Bulls 2018-19 seanson schedule 
This dataset contains 82 rows, and it contains the 'date', 'Start time', 'Opponent', and the 'Result' information for each Chicago Bulls' game.

In [31]:
nba_schedule = pd.read_csv("ChicagoBulls_schedule_1819.csv")

In [32]:
nba_schedule.head()

   Unnamed: 0 Start time            Opponent Result        date
0           0   08:00:00  Philadelphia 76ers      L  2018-10-18
1           1   08:00:00     Detroit Pistons      L  2018-10-20
2           2   08:30:00    Dallas Mavericks      L  2018-10-22
3           3   08:00:00   Charlotte Hornets      W  2018-10-24
4           4   07:00:00   Charlotte Hornets      L  2018-10-26

In [33]:
nba = nba_schedule.drop(columns='Unnamed: 0')

I merged the dataframe 'Date_price' and the dataframe 'nba' here, and generate a new dataframe 'airbnb_nba_schedule'. This dataset contains all the Airbnb information and also the NBA games information, I merged these two datasets on the column 'date', so we can see if the NBA game will influence the Airbnb price on that date or not.

In [34]:
airbnb_nba_schedule = pd.merge(Date_price, nba, on='date', how='left')

In [35]:
airbnb_nba_schedule.head(100)

,listing_id,name,zipcode,latitude,longitude,property_type,accommodates,minimum_nights,number_of_reviews,estimated_revenue,date,price,Expected_price,Start time,Opponent,Result
0,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-27,NaN,70.0,NaN,NaN,NaN
1,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-26,NaN,70.0,NaN,NaN,NaN
2,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-25,NaN,70.0,NaN,NaN,NaN
3,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-24,NaN,70.0,NaN,NaN,NaN
4,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-23,NaN,70.0,NaN,NaN,NaN
5,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-22,NaN,70.0,NaN,NaN,NaN
6,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-21,NaN,70.0,NaN,NaN,NaN
7,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-20,NaN,70.0,NaN,NaN,NaN
8,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-19,NaN,70.0,NaN,NaN,NaN
9,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-18,NaN,70.0,NaN,NaN,NaN
10,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-17,NaN,70.0,NaN,NaN,NaN
11,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-16,NaN,70.0,NaN,NaN,NaN
12,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-15,NaN,70.0,NaN,NaN,NaN
13,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-14,NaN,70.0,NaN,NaN,NaN
14,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-13,NaN,70.0,NaN,NaN,NaN
15,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-12,NaN,70.0,NaN,NaN,NaN
16,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-11,NaN,70.0,NaN,NaN,NaN
17,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-10,NaN,70.0,NaN,NaN,NaN
18,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-09,NaN,70.0,NaN,NaN,NaN
19,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-08,NaN,70.0,NaN,NaN,NaN
20,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-07,$90.00,70.0,NaN,NaN,NaN
21,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-06,$90.00,70.0,NaN,NaN,NaN
22,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-05,$90.00,70.0,NaN,NaN,NaN
23,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-04,$90.00,70.0,NaN,NaN,NaN
24,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-03,$90.00,70.0,NaN,NaN,NaN
25,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-02,$90.00,70.0,NaN,NaN,NaN
26,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-07-01,$90.00,70.0,NaN,NaN,NaN
27,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-06-30,$90.00,70.0,NaN,NaN,NaN
28,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-06-29,$90.00,70.0,NaN,NaN,NaN
29,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-06-28,$90.00,70.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-18,$80.00,70.0,NaN,NaN,NaN
71,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-17,$80.00,70.0,NaN,NaN,NaN
72,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-16,$80.00,70.0,NaN,NaN,NaN
73,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-15,$80.00,70.0,NaN,NaN,NaN
74,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-14,$80.00,70.0,NaN,NaN,NaN
75,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-13,$80.00,70.0,NaN,NaN,NaN
76,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-12,$80.00,70.0,NaN,NaN,NaN
77,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-11,$80.00,70.0,NaN,NaN,NaN
78,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-10,$80.00,70.0,NaN,NaN,NaN
79,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-09,$80.00,70.0,NaN,NaN,NaN
80,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-08,$80.00,70.0,NaN,NaN,NaN
81,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-07,$80.00,70.0,NaN,NaN,NaN
82,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-06,$80.00,70.0,NaN,NaN,NaN
83,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-05,$80.00,70.0,NaN,NaN,NaN
84,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-04,$80.00,70.0,NaN,NaN,NaN
85,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-03,$80.00,70.0,NaN,NaN,NaN
86,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-02,$80.00,70.0,NaN,NaN,NaN
87,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-05-01,$80.00,70.0,NaN,NaN,NaN
88,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-30,$80.00,70.0,NaN,NaN,NaN
89,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-29,$80.00,70.0,NaN,NaN,NaN
90,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-28,$80.00,70.0,NaN,NaN,NaN
91,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-27,$80.00,70.0,NaN,NaN,NaN
92,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-26,$80.00,70.0,NaN,NaN,NaN
93,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-25,$80.00,70.0,NaN,NaN,NaN
94,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-24,$80.00,70.0,NaN,NaN,NaN
95,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-23,$80.00,70.0,NaN,NaN,NaN
96,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-22,$80.00,70.0,NaN,NaN,NaN
97,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-21,$80.00,70.0,NaN,NaN,NaN
98,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-20,$80.00,70.0,NaN,NaN,NaN
99,2384,Hyde Park Private Room - Pleasant Walk to UChi...,60637,41.78886,-87.58671,Condominium,1,2,170,23800.0,2019-04-19,$80.00,70.0,NaN,NaN,NaN

### Output the final dataset for Airbnb
File Name: Airbnb_NBA.csv

In [35]:
airbnb_nba_schedule.to_csv("Airbnb_NBA.csv")

In [37]:
airbnb_nba_schedule.shape

(1793544, 16)

### Fetching Chicago rideshare dataset

In [39]:
ride_df = pd.read_csv("sub_rideshare_1.csv")

In [40]:
ride_df.shape

(150000, 21)

In [41]:
ride_df.head()

,Trip ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Pickup Census Tract,Dropoff Census Tract,Pickup Community Area,Dropoff Community Area,Fare,...,Additional Charges,Trip Total,Shared Trip Authorized,Trips Pooled,Pickup Centroid Latitude,Pickup Centroid Longitude,Pickup Centroid Location,Dropoff Centroid Latitude,Dropoff Centroid Longitude,Dropoff Centroid Location
0,a5a29ec813a95cb38d250b249d534931027a1af2,01/31/2019 09:45:00 AM,01/31/2019 09:45:00 AM,290.0,1.0,1.703133e+10,1.703132e+10,33.0,32.0,5.0,...,2.55,8.55,False,1,41.859350,-87.617358,POINT (-87.6173580061 41.859349715),41.870607,-87.622173,POINT (-87.6221729369 41.8706073724)
1,a5a29ee152eee1d5b1aea7b13265f39dc5fc80f0,01/06/2019 05:15:00 PM,01/06/2019 05:45:00 PM,1468.0,18.0,1.703108e+10,1.703198e+10,8.0,76.0,22.5,...,7.55,35.05,False,1,41.890922,-87.618868,POINT (-87.6188683546 41.8909220259),41.979071,-87.903040,POINT (-87.9030396611 41.9790708201)
2,a5a2a15b475f4dbb55d409228dbbec3709992486,03/20/2019 08:15:00 AM,03/20/2019 08:30:00 AM,540.0,1.1,1.703108e+10,1.703184e+10,8.0,32.0,5.0,...,2.55,7.55,False,1,41.897984,-87.641492,POINT (-87.6414915334 41.897983898),41.880994,-87.632746,POINT (-87.6327464887 41.8809944707)
3,a5a2a25eaad544ae6d744d94f217c803be14eef3,01/20/2019 02:45:00 PM,01/20/2019 02:45:00 PM,240.0,0.8,NaN,NaN,41.0,39.0,2.5,...,2.55,5.05,False,1,41.794090,-87.592311,POINT (-87.592310855 41.794090253),41.808916,-87.596183,POINT (-87.5961833442 41.8089162826)
4,a5a2a2c8a8a614755e85662f8baa85f48167bac8,02/09/2019 11:45:00 AM,02/09/2019 12:15:00 PM,1587.0,9.0,1.703103e+10,1.703184e+10,3.0,33.0,17.5,...,7.55,26.05,False,1,41.958155,-87.653022,POINT (-87.6530217894 41.9581548757),41.849247,-87.624135,POINT (-87.6241352979 41.8492467545)

### Select the column needed for the project

In [42]:
ride_df = ride_df[['Trip ID', 'Trip Start Timestamp', 'Trip End Timestamp', 'Trip Seconds', 'Trip Miles', 'Trip Total',
         'Pickup Centroid Latitude', 'Pickup Centroid Longitude', 'Dropoff Centroid Latitude', 'Dropoff Centroid Longitude']]

In [43]:
ride_df.shape

(150000, 10)

In [48]:
ride_df.head()

,Trip ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Trip Total,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude
0,a5a29ec813a95cb38d250b249d534931027a1af2,01/31/2019 09:45:00 AM,01/31/2019 09:45:00 AM,290.0,1.0,8.55,41.859350,-87.617358,41.870607,-87.622173
1,a5a29ee152eee1d5b1aea7b13265f39dc5fc80f0,01/06/2019 05:15:00 PM,01/06/2019 05:45:00 PM,1468.0,18.0,35.05,41.890922,-87.618868,41.979071,-87.903040
2,a5a2a15b475f4dbb55d409228dbbec3709992486,03/20/2019 08:15:00 AM,03/20/2019 08:30:00 AM,540.0,1.1,7.55,41.897984,-87.641492,41.880994,-87.632746
3,a5a2a25eaad544ae6d744d94f217c803be14eef3,01/20/2019 02:45:00 PM,01/20/2019 02:45:00 PM,240.0,0.8,5.05,41.794090,-87.592311,41.808916,-87.596183
4,a5a2a2c8a8a614755e85662f8baa85f48167bac8,02/09/2019 11:45:00 AM,02/09/2019 12:15:00 PM,1587.0,9.0,26.05,41.958155,-87.653022,41.849247,-87.624135

In [49]:
from datetime import datetime
import dateutil.parser

### Data preprocessing
- Create an additional column "date" by using datetime.strptime function to convert the "Trip Start Timestamp" column into proper datetime format
- The reason why creating the addtional "date" column is for merging the rideshare dataset with the NBA schedule dataset

In [51]:
for i in range(ride_df.shape[0]):
    ride_df.loc[i, "date"] = str(datetime.strptime(ride_df.loc[i, "Trip Start Timestamp"], '%m/%d/%Y %H:%M:%S %p'))
    ride_df.loc[i, "date"] = dateutil.parser.parse(ride_df.loc[i, "date"]).date()

In [56]:
ride_df.head(100)

,Trip ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Trip Total,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude,date
0,a5a29ec813a95cb38d250b249d534931027a1af2,01/31/2019 09:45:00 AM,01/31/2019 09:45:00 AM,290.0,1.0,8.55,41.859350,-87.617358,41.870607,-87.622173,2019-01-31
1,a5a29ee152eee1d5b1aea7b13265f39dc5fc80f0,01/06/2019 05:15:00 PM,01/06/2019 05:45:00 PM,1468.0,18.0,35.05,41.890922,-87.618868,41.979071,-87.903040,2019-01-06
2,a5a2a15b475f4dbb55d409228dbbec3709992486,03/20/2019 08:15:00 AM,03/20/2019 08:30:00 AM,540.0,1.1,7.55,41.897984,-87.641492,41.880994,-87.632746,2019-03-20
3,a5a2a25eaad544ae6d744d94f217c803be14eef3,01/20/2019 02:45:00 PM,01/20/2019 02:45:00 PM,240.0,0.8,5.05,41.794090,-87.592311,41.808916,-87.596183,2019-01-20
4,a5a2a2c8a8a614755e85662f8baa85f48167bac8,02/09/2019 11:45:00 AM,02/09/2019 12:15:00 PM,1587.0,9.0,26.05,41.958155,-87.653022,41.849247,-87.624135,2019-02-09
5,a5a2a2e2f8edc64971e73a593a32dae3b3239979,03/28/2019 12:30:00 PM,03/28/2019 12:45:00 PM,478.0,4.2,17.05,41.979071,-87.903040,NaN,NaN,2019-03-28
6,a5a2a32bad31c941bc1ac11dbb2a274aa8e2d51f,12/08/2018 05:00:00 PM,12/08/2018 05:15:00 PM,752.0,1.3,10.00,41.914616,-87.631717,41.899156,-87.626211,2018-12-08
7,a5a2a346cde55a65323a8880094ff3779c7ac3b9,01/03/2019 04:30:00 PM,01/03/2019 04:30:00 PM,449.0,1.8,10.00,41.870415,-87.675086,41.879067,-87.657005,2019-01-03
8,a5a2a3e9ccb2e60031095e75a9286e0ff9d30d82,02/08/2019 09:45:00 AM,02/08/2019 10:00:00 AM,475.0,1.1,7.55,41.893216,-87.637844,41.885300,-87.642808,2019-02-08
9,a5a2a41b64e62d4b5e985d7313c935adadb44e6d,12/04/2018 07:00:00 PM,12/04/2018 07:30:00 PM,1099.0,5.7,15.00,41.884987,-87.620993,41.862661,-87.712875,2018-12-04
10,a5a2a4be44a2cb23e411b60aa915816e9dc46cd0,03/05/2019 09:30:00 AM,03/05/2019 09:45:00 AM,840.0,2.9,5.72,41.899590,-87.674719,41.936087,-87.666111,2019-03-05
11,a5a2a5bdedc3bd1da207347ecf9c861e3de18efa,03/02/2019 12:00:00 PM,03/02/2019 12:30:00 PM,1620.0,4.6,8.22,41.899670,-87.669838,41.952823,-87.653244,2019-03-02
12,a5a2a661d2822e73cdf4a1f49ff8666319e87abb,02/10/2019 06:45:00 PM,02/10/2019 06:45:00 PM,220.0,1.0,5.05,41.893216,-87.637844,41.890922,-87.618868,2019-02-10
13,a5a2a6cde15776e9aa65918615784fcb6b546a3a,03/19/2019 09:45:00 AM,03/19/2019 10:15:00 AM,2291.0,12.2,12.55,41.899602,-87.633308,41.890609,-87.756047,2019-03-19
14,a5a2a81fcf6c01e08392ac83519b5ca0fff07005,01/04/2019 10:30:00 AM,01/04/2019 10:30:00 AM,388.0,0.8,5.05,41.892042,-87.631864,41.880994,-87.632746,2019-01-04
15,a5a2a82385ccf58c3eb3d9ed4aab134a4cae7aad,01/17/2019 03:45:00 PM,01/17/2019 04:00:00 PM,1128.0,4.0,12.55,41.891697,-87.702105,41.912837,-87.760884,2019-01-17
16,a5a2a82891b59ffe7db91a76096d2ddfa66197ed,03/28/2019 11:30:00 PM,03/28/2019 11:45:00 PM,436.0,3.3,10.05,41.899590,-87.674719,41.928465,-87.695087,2019-03-28
17,a5a2a8565957e41b5599c11f815892fbbca326d0,03/16/2019 04:15:00 PM,03/16/2019 04:45:00 PM,1360.0,2.9,12.55,41.878667,-87.671654,41.892042,-87.631864,2019-03-16
18,a5a2a884fa80ac632340fd132695f6f79211e96f,12/08/2018 01:15:00 AM,12/08/2018 01:30:00 AM,485.0,2.1,10.00,41.934659,-87.646730,41.962179,-87.645379,2018-12-08
19,a5a2a8e538db238234531ff5d79b9c984e244766,03/22/2019 08:45:00 PM,03/22/2019 09:15:00 PM,1502.0,9.6,12.55,41.898332,-87.620763,41.876593,-87.759813,2019-03-22
20,a5a2a91246d4bd0289993b9059f7be367a334f13,02/14/2019 08:00:00 PM,02/14/2019 08:00:00 PM,373.0,1.2,7.55,41.928763,-87.665677,41.921778,-87.651062,2019-02-14
21,a5a2a91c2e668a65b6b196c38e75662668fa1d23,02/15/2019 08:00:00 PM,02/15/2019 08:00:00 PM,327.0,1.1,7.55,41.892537,-87.659864,41.899507,-87.679600,2019-02-15
22,a5a2a9a487764267bae6974010eab11d20cb0fb1,02/07/2019 09:30:00 PM,02/07/2019 09:45:00 PM,449.0,2.1,7.55,41.934762,-87.639854,41.907492,-87.635760,2019-02-07
23,a5a2aa178721ec43a89ade6202b957e85af22447,02/22/2019 04:15:00 PM,02/22/2019 04:30:00 PM,522.0,2.0,8.55,41.948642,-87.827382,NaN,NaN,2019-02-22
24,a5a2aa4c85c8b5bb0ec060a9dfdc954d485efc8e,01/22/2019 07:45:00 AM,01/22/2019 08:00:00 AM,563.0,1.1,12.35,41.880994,-87.632746,41.893216,-87.637844,2019-01-22
25,a5a2aac50dff695ce6571c3a78c9ac2536aa41ed,03/13/2019 01:15:00 PM,03/13/2019 01:30:00 PM,582.0,1.8,5.00,41.921877,-87.664078,41.929263,-87.635891,2019-03-13
26,a5a2aba6ea734a29324b0469ecdb89b9f34f4ff2,02/01/2019 06:30:00 AM,02/01/2019 06:30:00 AM,207.0,0.7,5.05,41.968069,-87.721559,41.968069,-87.721559,2019-02-01
27,a5a2abc20f2c7251925d368d8e27ce6860942eef,11/09/2018 10:00:00 PM,11/09/2018 10:00:00 PM,308.0,1.2,7.50,41.914616,-87.631717,41.934659,-87.646730,2018-11-09
28,a5a2ac6b4fb7d6c39a5c0425a13fb4f821d3c333,02/01/2019 10:45:00 PM,02/01/2019 11:00:00 PM,630.0,2.4,5.05,41.827789,-87.614187,41.842807,-87.635791,2019-02-01
29,a5a2accff3df5a94d125c0aee7c32553c34e26a0,02/27/2019 08:00:00 AM,02/27/2019 08:15:00 AM,969.0,2.2,10.05,41.859350,-87.617358,41.880994,-87.632746,2019-02-27
...,...,...,...,...,...,...,...,...,...,...,...
70,a5a2bc46b5cd3a381a8491cd878f767efc652b4b,01/24/2019 08:30:00 AM,01/24/2019 08:45:00 AM,557.0,1.5,7.55,41.900070,-87.720918,41.922761,-87.699155,2019-01-24
71,a5a2bcfe4bc65558ebf40d5dcc0eaa14b484e896,12/13/2018 09:00:00 AM,12/13/2018 09:00:00 AM,292.0,0.9,7.50,41.892042,-87.631864,41.890922,-87.618868,2018-12-13
72,a5a2bd0c1f38aeb9fa62399226d851c44feefcfc,11/26/2018 11:30:00 PM,11/26/2018 11:45:00 PM,1443.0,13.4,27.50,41.792592,-87.769615,41.794090,-87.592311,2018-11-26
73,a5a2bd37477bfe8926f56311d980b036a6369110,02/14/2019 10:15:00 PM,02/14/2019 10:45:00 PM,1915.0,10.2,22.55,NaN,NaN,41.936237,-87.656412,2019-02-14
74,a5a2bd47b2e0907df8733f84afb5e551eb4728dd,01/08/2019 08:45:00 PM,01/08/2019 09:15:00 PM,1306.0,10.2,15.00,41.899602,-87.633308,41.983636,-87.723583,2019-01-08
75,a5a2bd964c659faa17069fca0dfcd8f52557ce11,12/25/2018 06:45:00 PM,12/25/2018 07:00:00 PM,851.0,9.3,17.50,NaN,NaN,41.901207,-87.676356,2018-12-25
76,a5a2bdaf5360d38905b130a0c386a52f06329469,12/04/2018 09:30:00 AM,12/04/2018 10:15:00 AM,2431.0,13.0,30.00,41.785999,-87.750934,41.895033,-87.619711,2018-12-04
77,a5a2bdd45cdeae11c5dd6eac4550f23023a15bd6,02/09/2019 06:30:00 PM,02/09/2019 06:45:00 PM,1186.0,6.1,15.05,41.898332,-87.620763,41.878667,-87.671654,2019-02-09
78,a5a2be505619227be14e87a44e36131e6b750348,02/20/2019 04:00:00 AM,02/20/2019 04:00:00 AM,374.0,1.0,5.05,41.763247,-87.616134,41.763247,-87.616134,2019-02-20
79,a5a2beb32add0c945b76d84af37ae64c078df3bf,03/09/2019 04:15:00 PM,03/09/2019 04:45:00 PM,2026.0,18.4,33.22,41.979071,-87.903040,NaN,NaN,2019-03-09
80,a5a2bf7fc5db605516a769e86b9b8985c4c8bc20,02/15/2019 09:15:00 AM,02/15/2019 09:15:00 AM,263.0,1.2,7.55,41.797965,-87.589607,41.790469,-87.601285,2019-02-15
81,a5a2c06297e5c18221bec1a07e67e7e4fab1eebb,03/07/2019 07:15:00 PM,03/07/2019 07:30:00 PM,798.0,5.2,12.55,41.892508,-87.626215,41.921126,-87.699754,2019-03-07
82,a5a2c0b9cff81c0a6e420d847e4294bbfb8e9931,02/25/2019 11:30:00 AM,02/25/2019 12:00:00 PM,1643.0,8.6,7.55,41.813201,-87.604209,41.867902,-87.642959,2019-02-25
83,a5a2c1ccfd297e8efb3748b561df576adcfede1f,11/05/2018 05:00:00 PM,11/05/2018 05:30:00 PM,1485.0,5.0,15.00,41.969206,-87.723169,42.015720,-87.687116,2018-11-05
84,a5a2c1d70d0bb0a2e772e7e5a59bcb2cac352616,01/20/2019 09:30:00 AM,01/20/2019 09:30:00 AM,526.0,2.1,7.55,41.949221,-87.651970,41.921877,-87.664078,2019-01-20
85,a5a2c2acffb0c8731ca3f26d54df424a19daf40f,03/14/2019 10:30:00 AM,03/14/2019 10:45:00 AM,337.0,0.5,7.55,41.877406,-87.621972,41.880994,-87.632746,2019-03-14
86,a5a2c2d39d1f3d9f63ea5ffb8f370ad357139c6d,01/23/2019 07:30:00 PM,01/23/2019 07:45:00 PM,1072.0,5.3,12.50,NaN,NaN,41.927261,-87.765502,2019-01-23
87,a5a2c34a9686ca8fe42e2c18c3af95553a7f09ce,01/27/2019 03:00:00 PM,01/27/2019 03:15:00 PM,1548.0,6.5,7.50,41.871016,-87.631407,41.928465,-87.695087,2019-01-27
88,a5a2c3ecbf127be08fd1564a3591551a75f4f73d,11/20/2018 10:30:00 AM,11/20/2018 11:00:00 AM,1899.0,12.5,22.50,41.766652,-87.671155,41.884987,-87.620993,2018-11-20
89,a5a2c466d8072bc827e8bf1fee9b5354060051e7,01/01/2019 02:00:00 AM,01/01/2019 02:00:00 AM,434.0,0.8,7.50,41.892508,-87.626215,41.892042,-87.631864,2019-01-01
90,a5a2c4babd0a5295ef25ad3ba8b7936abd2da1da,01/03/2019 08:45:00 AM,01/03/2019 08:45:00 AM,370.0,1.2,7.55,41.944227,-87.655998,41.944227,-87.655998,2019-01-03
91,a5a2c532e8339eb26e2e2723d1be491f7b61ad2f,03/17/2019 12:00:00 AM,03/17/2019 12:30:00 AM,1645.0,5.2,12.55,41.936237,-87.656412,41.899156,-87.626211,2019-03-17
92,a5a2c53935642d01e18171383dfa4edab7317544,01/25/2019 11:15:00 PM,01/25/2019 11:15:00 PM,539.0,2.3,7.55,41.859350,-87.617358,41.856333,-87.659564,2019-01-25
93,a5a2c53f3acecd5a63a5e14e7450f9709a5e6254,01/03/2019 09:00:00 PM,01/03/2019 09:00:00 PM,326.0,1.5,7.50,41.871016,-87.631407,41.861281,-87.630580,2019-01-03
94,a5a2c55de0139827ffb307ced8f3186faded124f,01/22/2019 06:00:00 PM,01/22/2019 06:00:00 PM,314.0,0.9,5.00,41.892433,-87.669624,41.892658,-87.652534,2019-01-22
95,a5a2c5f1506ede7beacd3deda3d3a32a61543533,02/11/2019 04:45:00 PM,02/11/2019 05:15:00 PM,1135.0,2.7,5.00,41.922686,-87.649489,41.878866,-87.625192,2019-02-11
96,a5a2c6915862d172a488fbbeeb33846bcba85186,01/23/2019 05:00:00 PM,01/23/2019 06:00:00 PM,3557.0,22.3,40.80,NaN,NaN,41.863118,-87.672920,2019-01-23
97,a5a2c74c2ce86304cb667e5df99b7fb565470bc1,12/07/2018 05:30:00 PM,12/07/2018 06:00:00 PM,1539.0,3.2,5.00,41.871689,-87.654093,41.892042,-87.631864,2018-12-07
98,a5a2c7ec828a8cb7c686f09afec01691274330ca,01/06/2019 06:30:00 PM,01/06/2019 07:00:00 PM,1204.0,10.3,17.55,NaN,NaN,41.879067,-87.657005,2019-01-06
99,a5a39b4bb1c486af2ba337befa1bfa2936bb7816,02/27/2019 09:15:00 PM,02/27/2019 09:15:00 PM,352.0,1.7,7.55,NaN,NaN,41.983636,-87.723583,2019-02-27

In [62]:
rideshare_nba_schedule = pd.merge(ride_df, nba, on='date', how='left')

In [63]:
rideshare_nba_schedule.head(100)

,Trip ID,Trip Start Timestamp,Trip End Timestamp,Trip Seconds,Trip Miles,Trip Total,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude,date,Start time,Opponent,Result
0,a5a29ec813a95cb38d250b249d534931027a1af2,01/31/2019 09:45:00 AM,01/31/2019 09:45:00 AM,290.0,1.0,8.55,41.859350,-87.617358,41.870607,-87.622173,2019-01-31,NaN,NaN,NaN
1,a5a29ee152eee1d5b1aea7b13265f39dc5fc80f0,01/06/2019 05:15:00 PM,01/06/2019 05:45:00 PM,1468.0,18.0,35.05,41.890922,-87.618868,41.979071,-87.903040,2019-01-06,NaN,NaN,NaN
2,a5a2a15b475f4dbb55d409228dbbec3709992486,03/20/2019 08:15:00 AM,03/20/2019 08:30:00 AM,540.0,1.1,7.55,41.897984,-87.641492,41.880994,-87.632746,2019-03-20,NaN,NaN,NaN
3,a5a2a25eaad544ae6d744d94f217c803be14eef3,01/20/2019 02:45:00 PM,01/20/2019 02:45:00 PM,240.0,0.8,5.05,41.794090,-87.592311,41.808916,-87.596183,2019-01-20,NaN,NaN,NaN
4,a5a2a2c8a8a614755e85662f8baa85f48167bac8,02/09/2019 11:45:00 AM,02/09/2019 12:15:00 PM,1587.0,9.0,26.05,41.958155,-87.653022,41.849247,-87.624135,2019-02-09,NaN,NaN,NaN
5,a5a2a2e2f8edc64971e73a593a32dae3b3239979,03/28/2019 12:30:00 PM,03/28/2019 12:45:00 PM,478.0,4.2,17.05,41.979071,-87.903040,NaN,NaN,2019-03-28,NaN,NaN,NaN
6,a5a2a32bad31c941bc1ac11dbb2a274aa8e2d51f,12/08/2018 05:00:00 PM,12/08/2018 05:15:00 PM,752.0,1.3,10.00,41.914616,-87.631717,41.899156,-87.626211,2018-12-08,NaN,NaN,NaN
7,a5a2a346cde55a65323a8880094ff3779c7ac3b9,01/03/2019 04:30:00 PM,01/03/2019 04:30:00 PM,449.0,1.8,10.00,41.870415,-87.675086,41.879067,-87.657005,2019-01-03,NaN,NaN,NaN
8,a5a2a3e9ccb2e60031095e75a9286e0ff9d30d82,02/08/2019 09:45:00 AM,02/08/2019 10:00:00 AM,475.0,1.1,7.55,41.893216,-87.637844,41.885300,-87.642808,2019-02-08,NaN,NaN,NaN
9,a5a2a41b64e62d4b5e985d7313c935adadb44e6d,12/04/2018 07:00:00 PM,12/04/2018 07:30:00 PM,1099.0,5.7,15.00,41.884987,-87.620993,41.862661,-87.712875,2018-12-04,NaN,NaN,NaN
10,a5a2a4be44a2cb23e411b60aa915816e9dc46cd0,03/05/2019 09:30:00 AM,03/05/2019 09:45:00 AM,840.0,2.9,5.72,41.899590,-87.674719,41.936087,-87.666111,2019-03-05,NaN,NaN,NaN
11,a5a2a5bdedc3bd1da207347ecf9c861e3de18efa,03/02/2019 12:00:00 PM,03/02/2019 12:30:00 PM,1620.0,4.6,8.22,41.899670,-87.669838,41.952823,-87.653244,2019-03-02,NaN,NaN,NaN
12,a5a2a661d2822e73cdf4a1f49ff8666319e87abb,02/10/2019 06:45:00 PM,02/10/2019 06:45:00 PM,220.0,1.0,5.05,41.893216,-87.637844,41.890922,-87.618868,2019-02-10,NaN,NaN,NaN
13,a5a2a6cde15776e9aa65918615784fcb6b546a3a,03/19/2019 09:45:00 AM,03/19/2019 10:15:00 AM,2291.0,12.2,12.55,41.899602,-87.633308,41.890609,-87.756047,2019-03-19,NaN,NaN,NaN
14,a5a2a81fcf6c01e08392ac83519b5ca0fff07005,01/04/2019 10:30:00 AM,01/04/2019 10:30:00 AM,388.0,0.8,5.05,41.892042,-87.631864,41.880994,-87.632746,2019-01-04,NaN,NaN,NaN
15,a5a2a82385ccf58c3eb3d9ed4aab134a4cae7aad,01/17/2019 03:45:00 PM,01/17/2019 04:00:00 PM,1128.0,4.0,12.55,41.891697,-87.702105,41.912837,-87.760884,2019-01-17,NaN,NaN,NaN
16,a5a2a82891b59ffe7db91a76096d2ddfa66197ed,03/28/2019 11:30:00 PM,03/28/2019 11:45:00 PM,436.0,3.3,10.05,41.899590,-87.674719,41.928465,-87.695087,2019-03-28,NaN,NaN,NaN
17,a5a2a8565957e41b5599c11f815892fbbca326d0,03/16/2019 04:15:00 PM,03/16/2019 04:45:00 PM,1360.0,2.9,12.55,41.878667,-87.671654,41.892042,-87.631864,2019-03-16,NaN,NaN,NaN
18,a5a2a884fa80ac632340fd132695f6f79211e96f,12/08/2018 01:15:00 AM,12/08/2018 01:30:00 AM,485.0,2.1,10.00,41.934659,-87.646730,41.962179,-87.645379,2018-12-08,NaN,NaN,NaN
19,a5a2a8e538db238234531ff5d79b9c984e244766,03/22/2019 08:45:00 PM,03/22/2019 09:15:00 PM,1502.0,9.6,12.55,41.898332,-87.620763,41.876593,-87.759813,2019-03-22,NaN,NaN,NaN
20,a5a2a91246d4bd0289993b9059f7be367a334f13,02/14/2019 08:00:00 PM,02/14/2019 08:00:00 PM,373.0,1.2,7.55,41.928763,-87.665677,41.921778,-87.651062,2019-02-14,NaN,NaN,NaN
21,a5a2a91c2e668a65b6b196c38e75662668fa1d23,02/15/2019 08:00:00 PM,02/15/2019 08:00:00 PM,327.0,1.1,7.55,41.892537,-87.659864,41.899507,-87.679600,2019-02-15,NaN,NaN,NaN
22,a5a2a9a487764267bae6974010eab11d20cb0fb1,02/07/2019 09:30:00 PM,02/07/2019 09:45:00 PM,449.0,2.1,7.55,41.934762,-87.639854,41.907492,-87.635760,2019-02-07,NaN,NaN,NaN
23,a5a2aa178721ec43a89ade6202b957e85af22447,02/22/2019 04:15:00 PM,02/22/2019 04:30:00 PM,522.0,2.0,8.55,41.948642,-87.827382,NaN,NaN,2019-02-22,NaN,NaN,NaN
24,a5a2aa4c85c8b5bb0ec060a9dfdc954d485efc8e,01/22/2019 07:45:00 AM,01/22/2019 08:00:00 AM,563.0,1.1,12.35,41.880994,-87.632746,41.893216,-87.637844,2019-01-22,NaN,NaN,NaN
25,a5a2aac50dff695ce6571c3a78c9ac2536aa41ed,03/13/2019 01:15:00 PM,03/13/2019 01:30:00 PM,582.0,1.8,5.00,41.921877,-87.664078,41.929263,-87.635891,2019-03-13,NaN,NaN,NaN
26,a5a2aba6ea734a29324b0469ecdb89b9f34f4ff2,02/01/2019 06:30:00 AM,02/01/2019 06:30:00 AM,207.0,0.7,5.05,41.968069,-87.721559,41.968069,-87.721559,2019-02-01,NaN,NaN,NaN
27,a5a2abc20f2c7251925d368d8e27ce6860942eef,11/09/2018 10:00:00 PM,11/09/2018 10:00:00 PM,308.0,1.2,7.50,41.914616,-87.631717,41.934659,-87.646730,2018-11-09,NaN,NaN,NaN
28,a5a2ac6b4fb7d6c39a5c0425a13fb4f821d3c333,02/01/2019 10:45:00 PM,02/01/2019 11:00:00 PM,630.0,2.4,5.05,41.827789,-87.614187,41.842807,-87.635791,2019-02-01,NaN,NaN,NaN
29,a5a2accff3df5a94d125c0aee7c32553c34e26a0,02/27/2019 08:00:00 AM,02/27/2019 08:15:00 AM,969.0,2.2,10.05,41.859350,-87.617358,41.880994,-87.632746,2019-02-27,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,a5a2bc46b5cd3a381a8491cd878f767efc652b4b,01/24/2019 08:30:00 AM,01/24/2019 08:45:00 AM,557.0,1.5,7.55,41.900070,-87.720918,41.922761,-87.699155,2019-01-24,NaN,NaN,NaN
71,a5a2bcfe4bc65558ebf40d5dcc0eaa14b484e896,12/13/2018 09:00:00 AM,12/13/2018 09:00:00 AM,292.0,0.9,7.50,41.892042,-87.631864,41.890922,-87.618868,2018-12-13,NaN,NaN,NaN
72,a5a2bd0c1f38aeb9fa62399226d851c44feefcfc,11/26/2018 11:30:00 PM,11/26/2018 11:45:00 PM,1443.0,13.4,27.50,41.792592,-87.769615,41.794090,-87.592311,2018-11-26,NaN,NaN,NaN
73,a5a2bd37477bfe8926f56311d980b036a6369110,02/14/2019 10:15:00 PM,02/14/2019 10:45:00 PM,1915.0,10.2,22.55,NaN,NaN,41.936237,-87.656412,2019-02-14,NaN,NaN,NaN
74,a5a2bd47b2e0907df8733f84afb5e551eb4728dd,01/08/2019 08:45:00 PM,01/08/2019 09:15:00 PM,1306.0,10.2,15.00,41.899602,-87.633308,41.983636,-87.723583,2019-01-08,NaN,NaN,NaN
75,a5a2bd964c659faa17069fca0dfcd8f52557ce11,12/25/2018 06:45:00 PM,12/25/2018 07:00:00 PM,851.0,9.3,17.50,NaN,NaN,41.901207,-87.676356,2018-12-25,NaN,NaN,NaN
76,a5a2bdaf5360d38905b130a0c386a52f06329469,12/04/2018 09:30:00 AM,12/04/2018 10:15:00 AM,2431.0,13.0,30.00,41.785999,-87.750934,41.895033,-87.619711,2018-12-04,NaN,NaN,NaN
77,a5a2bdd45cdeae11c5dd6eac4550f23023a15bd6,02/09/2019 06:30:00 PM,02/09/2019 06:45:00 PM,1186.0,6.1,15.05,41.898332,-87.620763,41.878667,-87.671654,2019-02-09,NaN,NaN,NaN
78,a5a2be505619227be14e87a44e36131e6b750348,02/20/2019 04:00:00 AM,02/20/2019 04:00:00 AM,374.0,1.0,5.05,41.763247,-87.616134,41.763247,-87.616134,2019-02-20,NaN,NaN,NaN
79,a5a2beb32add0c945b76d84af37ae64c078df3bf,03/09/2019 04:15:00 PM,03/09/2019 04:45:00 PM,2026.0,18.4,33.22,41.979071,-87.903040,NaN,NaN,2019-03-09,NaN,NaN,NaN
80,a5a2bf7fc5db605516a769e86b9b8985c4c8bc20,02/15/2019 09:15:00 AM,02/15/2019 09:15:00 AM,263.0,1.2,7.55,41.797965,-87.589607,41.790469,-87.601285,2019-02-15,NaN,NaN,NaN
81,a5a2c06297e5c18221bec1a07e67e7e4fab1eebb,03/07/2019 07:15:00 PM,03/07/2019 07:30:00 PM,798.0,5.2,12.55,41.892508,-87.626215,41.921126,-87.699754,2019-03-07,NaN,NaN,NaN
82,a5a2c0b9cff81c0a6e420d847e4294bbfb8e9931,02/25/2019 11:30:00 AM,02/25/2019 12:00:00 PM,1643.0,8.6,7.55,41.813201,-87.604209,41.867902,-87.642959,2019-02-25,NaN,NaN,NaN
83,a5a2c1ccfd297e8efb3748b561df576adcfede1f,11/05/2018 05:00:00 PM,11/05/2018 05:30:00 PM,1485.0,5.0,15.00,41.969206,-87.723169,42.015720,-87.687116,2018-11-05,NaN,NaN,NaN
84,a5a2c1d70d0bb0a2e772e7e5a59bcb2cac352616,01/20/2019 09:30:00 AM,01/20/2019 09:30:00 AM,526.0,2.1,7.55,41.949221,-87.651970,41.921877,-87.664078,2019-01-20,NaN,NaN,NaN
85,a5a2c2acffb0c8731ca3f26d54df424a19daf40f,03/14/2019 10:30:00 AM,03/14/2019 10:45:00 AM,337.0,0.5,7.55,41.877406,-87.621972,41.880994,-87.632746,2019-03-14,NaN,NaN,NaN
86,a5a2c2d39d1f3d9f63ea5ffb8f370ad357139c6d,01/23/2019 07:30:00 PM,01/23/2019 07:45:00 PM,1072.0,5.3,12.50,NaN,NaN,41.927261,-87.765502,2019-01-23,NaN,NaN,NaN
87,a5a2c34a9686ca8fe42e2c18c3af95553a7f09ce,01/27/2019 03:00:00 PM,01/27/2019 03:15:00 PM,1548.0,6.5,7.50,41.871016,-87.631407,41.928465,-87.695087,2019-01-27,NaN,NaN,NaN
88,a5a2c3ecbf127be08fd1564a3591551a75f4f73d,11/20/2018 10:30:00 AM,11/20/2018 11:00:00 AM,1899.0,12.5,22.50,41.766652,-87.671155,41.884987,-87.620993,2018-11-20,NaN,NaN,NaN
89,a5a2c466d8072bc827e8bf1fee9b5354060051e7,01/01/2019 02:00:00 AM,01/01/2019 02:00:00 AM,434.0,0.8,7.50,41.892508,-87.626215,41.892042,-87.631864,2019-01-01,NaN,NaN,NaN
90,a5a2c4babd0a5295ef25ad3ba8b7936abd2da1da,01/03/2019 08:45:00 AM,01/03/2019 08:45:00 AM,370.0,1.2,7.55,41.944227,-87.655998,41.944227,-87.655998,2019-01-03,NaN,NaN,NaN
91,a5a2c532e8339eb26e2e2723d1be491f7b61ad2f,03/17/2019 12:00:00 AM,03/17/2019 12:30:00 AM,1645.0,5.2,12.55,41.936237,-87.656412,41.899156,-87.626211,2019-03-17,NaN,NaN,NaN
92,a5a2c53935642d01e18171383dfa4edab7317544,01/25/2019 11:15:00 PM,01/25/2019 11:15:00 PM,539.0,2.3,7.55,41.859350,-87.617358,41.856333,-87.659564,2019-01-25,NaN,NaN,NaN
93,a5a2c53f3acecd5a63a5e14e7450f9709a5e6254,01/03/2019 09:00:00 PM,01/03/2019 09:00:00 PM,326.0,1.5,7.50,41.871016,-87.631407,41.861281,-87.630580,2019-01-03,NaN,NaN,NaN
94,a5a2c55de0139827ffb307ced8f3186faded124f,01/22/2019 06:00:00 PM,01/22/2019 06:00:00 PM,314.0,0.9,5.00,41.892433,-87.669624,41.892658,-87.652534,2019-01-22,NaN,NaN,NaN
95,a5a2c5f1506ede7beacd3deda3d3a32a61543533,02/11/2019 04:45:00 PM,02/11/2019 05:15:00 PM,1135.0,2.7,5.00,41.922686,-87.649489,41.878866,-87.625192,2019-02-11,NaN,NaN,NaN
96,a5a2c6915862d172a488fbbeeb33846bcba85186,01/23/2019 05:00:00 PM,01/23/2019 06:00:00 PM,3557.0,22.3,40.80,NaN,NaN,41.863118,-87.672920,2019-01-23,NaN,NaN,NaN
97,a5a2c74c2ce86304cb667e5df99b7fb565470bc1,12/07/2018 05:30:00 PM,12/07/2018 06:00:00 PM,1539.0,3.2,5.00,41.871689,-87.654093,41.892042,-87.631864,2018-12-07,NaN,NaN,NaN
98,a5a2c7ec828a8cb7c686f09afec01691274330ca,01/06/2019 06:30:00 PM,01/06/2019 07:00:00 PM,1204.0,10.3,17.55,NaN,NaN,41.879067,-87.657005,2019-01-06,NaN,NaN,NaN
99,a5a39b4bb1c486af2ba337befa1bfa2936bb7816,02/27/2019 09:15:00 PM,02/27/2019 09:15:00 PM,352.0,1.7,7.55,NaN,NaN,41.983636,-87.723583,2019-02-27,NaN,NaN,NaN

In [67]:
rideshare_nba_schedule.describe()

,Trip Seconds,Trip Miles,Trip Total,Pickup Centroid Latitude,Pickup Centroid Longitude,Dropoff Centroid Latitude,Dropoff Centroid Longitude
count,149992.000000,150000.000000,150000.000000,141575.000000,141575.000000,140460.000000,140460.000000
mean,1050.191997,5.842136,14.106540,41.892374,-87.666401,41.892767,-87.667787
std,756.997027,6.575004,10.836138,0.062108,0.059942,0.062200,0.063018
min,0.000000,0.000000,0.670000,41.650222,-87.913625,41.650222,-87.913625
25%,522.000000,1.800000,7.550000,41.877406,-87.682996,41.877406,-87.683643
50%,856.000000,3.600000,10.050000,41.893216,-87.653022,41.893216,-87.652534
75%,1374.000000,7.300000,15.350000,41.929273,-87.631864,41.930579,-87.631864
max,51660.000000,253.100000,415.720000,42.021224,-87.534903,42.021224,-87.530712

### Output the final dataset for rideshare service
File Name: Rideshare_NBA.csv

In [64]:
rideshare_nba_schedule.to_csv("Rideshare_NBA.csv")